<div class="panel-container">
  <div class="header">
    <h1>Panel de Administración</h1>
    <button mat-raised-button color="primary" (click)="irACrearUsuario()">
      <mat-icon>add</mat-icon>
      Nuevo Usuario
    </button>
  </div>

  <table mat-table [dataSource]="usuarios" class="mat-elevation-z8">

    <!-- Columna Foto -->
    <ng-container matColumnDef="foto">
      <th mat-header-cell *matHeaderCellDef>Foto</th>
      <td mat-cell *matCellDef="let usuario">
        <img [src]="usuario.foto ? usuario.foto : 'https://via.placeholder.com/50'" 
             alt="Foto de {{ usuario.nombreCompleto }}" 
             style="width: 50px; height: 50px; border-radius: 50%;">
      </td>
    </ng-container>

    <!-- Columna ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.id }}</td>
    </ng-container>

    <!-- Columna Nombre Completo -->
    <ng-container matColumnDef="nombreCompleto">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.nombreCompleto }}</td>
    </ng-container>

    <!-- Columna Correo Electrónico -->
    <ng-container matColumnDef="correoElectronico">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.correoElectronico }}</td>
    </ng-container>

    <!-- Columna Móvil -->
    <ng-container matColumnDef="movil">
      <th mat-header-cell *matHeaderCellDef>Móvil</th>
      <td mat-cell *matCellDef="let usuario">{{ usuario.movil }}</td>
    </ng-container>

    <!-- Columna Rol -->
    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef>Rol</th>
      <td mat-cell *matCellDef="let usuario">{{usuario.rolId}}</td>
    </ng-container>

    <!-- Columna Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let usuario">
        <button mat-icon-button color="primary" [routerLink]="['editar', usuario.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminarUsuario(usuario.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['foto', 'id', 'nombreCompleto', 'correoElectronico', 'movil', 'rol', 'acciones']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['foto', 'id', 'nombreCompleto', 'correoElectronico', 'movil', 'rol', 'acciones'];"></tr>
  </table>

  <router-outlet></router-outlet>
</div>