/* En tu archivo de estilos CSS (tu-componente.component.css o styles.css) */
.rounded-image {
  border-radius: 50%; /* Ajusta el valor para controlar el radio del borde */
  max-width: 50px; /* Ajusta el tamaño máximo de la imagen */
  max-height: 50px;
}

/* Opcional: Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse; /* Para eliminar bordes dobles */
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Línea divisoria entre filas */
}

.admin-role {
  color: #1976d2; // Azul
  font-weight: 500;
}

.gestor-role {
  color: #4caf50; // Verde
  font-weight: 500;
}

.operario-role {
  color: #ff9800; // Naranja
  font-weight: 500;
}

.user-role {
  color: #9c27b0; // Púrpura
  font-weight: 500;
}

.transportista-role {
  color: #f44336; // Rojo
  font-weight: 500;
}

.mat-column-fechaCreacion {
  min-width: 140px;
}

.mat-column-rolId {
  min-width: 120px;
}