/* En tu archivo de estilos CSS (tu-componente.component.css o styles.css) */
.rounded-image {
  border-radius: 50%; /* Ajusta el valor para controlar el radio del borde */
  max-width: 50px; /* Ajusta el tamaño máximo de la imagen */
  max-height: 50px;
}

/* Opcional: Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse; /* Para eliminar bordes dobles */
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Línea divisoria entre filas */
}